<div class="row">
  <div class="col-md-12">
    <tabset #tabset>
      <tab id="tabProductList"
           heading="Manage Product"
           (selectTab)="manageTabs('PL')">
        <app-product-list *ngIf="tabsList.tabProductList"
                          (onAdd)="manageTabs('PA')"></app-product-list>
      </tab>
      <tab id="tabAddNew"
           heading="Add New"
           (selectTab)="manageTabs('PA')">
        <app-product-add *ngIf="tabsList.tabAddNew"
                         (onSuccess)="manageTabs('PL')"></app-product-add>
      </tab>
    </tabset>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <tabset #bottomtabset>
      <tab id="tabAttributes"
           heading="Attributes"
           (selectTab)="DisplayBottomTabs('AL')">
        <app-product-attribute-mapping-list *ngIf="tabsList.tabAttributes"></app-product-attribute-mapping-list>
      </tab>
      <tab id="tabReviews"
           heading="Reviews"
           (selectTab)="DisplayBottomTabs('RL')">
        <app-product-add *ngIf="tabsList.tabReviews"></app-product-add>
      </tab>
    </tabset>
  </div>
</div> -->