<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <form novalidate
              (ngSubmit)="onSubmit()"
              [formGroup]="form">
            <fieldset>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="typeName">Type Name</label>
                        <input maxlength="50"
                               [ngClass]="{ 'is-invalid': submitted && f.typeName.errors }"
                               class="form-control form-control-sm"
                               id="typeName"
                               type="text"
                               formControlName="typeName" />
                        <div *ngIf="submitted && f.typeName.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.typeName.errors.required">Type is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="typeCode">Type Code</label>
                        <input maxlength="50"
                               [ngClass]="{ 'is-invalid': submitted && f.typeCode.errors }"
                               class="form-control form-control-sm"
                               id="typeCode"
                               type="text"
                               formControlName="typeCode" />
                        <div *ngIf="submitted && f.typeCode.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.typeCode.errors.required">Type code is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="measureDimensionId">Select Measurement Dimension</label>
                        <ng-select [ngClass]="{ 'is-invalid': submitted && f.measureDimensionId.errors }"
                                   [items]="measurementDimensionList"
                                   bindLabel="name"
                                   bindValue="rowId"
                                   [addTag]="false"
                                   formControlName="measureDimensionId">
                        </ng-select>
                        <div *ngIf="submitted && f.measureDimensionId.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.measureDimensionId.errors.required">Measure dimension is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label-sm lbl-custom"
                               for="description">description</label>
                        <textarea class="form-control form-control-sm"
                                  id="description"
                                  type="text"
                                  rows="3"
                                  formControlName="description"></textarea>
                    </div>
                </div>

                <div class="modal-footer"
                     style="margin-top: 10px;">
                    <div class="form-row"
                         style="float:right">
                        <span>
                            <button class="btn btn-primary btn-sm btn-custom"
                                    type="submit">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-light btn-sm btn-custom"
                                    type="button"
                                    (click)="onCancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>