<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <form novalidate
              (ngSubmit)="onSubmit()"
              [formGroup]="form">
            <fieldset>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label-sm lbl-custom"
                               for="attributeIds">Select Attributes</label>
                        <ng-select [items]="parentAttributes"
                                   bindLabel="name"
                                   [multiple]="true"
                                   bindValue="rowId"
                                   [addTag]="false"
                                   formControlName="attributeIds"
                                   [ngClass]="{ 'is-invalid': submitted && f.attributeIds.errors }">
                        </ng-select>
                        <div *ngIf="submitted && f.attributeIds.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.attributeIds.errors.required">Attribute is required</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"
                     style="margin-top: 10px;">
                    <div class="form-row"
                         style="float:right">
                        <span>
                            <button class="btn btn-primary btn-sm btn-custom"
                                    type="submit">
                                Update
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-light btn-sm btn-custom"
                                    type="button"
                                    (click)="onCancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>