<div class="row">
    <div class="col-md-12">
        <tabset #tabset>
            <tab id="tabRecordList"
                 (selectTab)="manageTabs('L')"
                 heading="Sub-Menu Management">
                <app-submenu-list *ngIf="tabsList.tabRecordList" (onAdd)="manageTabs('A')"></app-submenu-list>
            </tab>
            <!-- <tab id="tabAddNew"
                 heading="Add New"
                 (selectTab)="manageTabs('A')">
                 <app-country-add  *ngIf="tabsList.tabAddNew" (onSuccess)="manageTabs('L')"></app-country-add>
            </tab> -->
        </tabset>
    </div>
</div>
