<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <form novalidate
              (ngSubmit)="onSubmit()"
              [formGroup]="form">
            <fieldset>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="catParentName">Parent Category Name</label>
                        <input [ngClass]="{ 'is-invalid': submitted && f.catParentName.errors }"
                               maxlength="50"
                               class="form-control form-control-sm"
                               id="catParentName"
                               type="text"
                               formControlName="catParentName" />
                        <div *ngIf="submitted && f.catParentName.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.catParentName.errors.required">Cat Parent Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="displayOrder">Display Order</label>
                        <input class="form-control form-control-sm"
                               id="displayOrder"
                               type="number"
                               formControlName="displayOrder" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label-sm lbl-custom"
                               for="seoContentId">Select SEO Content</label>
                        <app-seo-lookup formControlName="seoContentId"></app-seo-lookup>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label-sm lbl-custom"
                               for="description">Description</label>
                        <textarea class="form-control form-control-sm"
                                  id="description"
                                  type="text"
                                  formControlName="description"
                                  rows="3">
                            </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label-sm lbl-custom"
                               for="includeInTopMenu">
                            Upload File
                        </label>
                        <div>
                            <app-file-upload [fileExt]="'jpg, png'"
                                             [maxFiles]="'1'"
                                             (onFileUpload)="handleFileInput($event)"></app-file-upload>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   formControlName="includeInTopMenu"
                                   id="includeInTopMenu">
                            <label class="col-form-label-sm lbl-custom"
                                   for="includeInTopMenu">
                                Include Top Menu
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   formControlName="isNew"
                                   id="isNew">
                            <label class="col-form-label-sm lbl-custom"
                                   for="isNew">
                                Is New
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   formControlName="hasDiscountApplied"
                                   id="hasDiscountApplied">
                            <label class="col-form-label-sm lbl-custom"
                                   for="hasDiscountApplied">
                                Has Discount Applied
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   formControlName="isPublished"
                                   id="isPublished">
                            <label class="col-form-label-sm lbl-custom"
                                   for="isPublished">
                                Is Published
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer"
                     style="margin-top: 10px;">
                    <div class="form-row"
                         style="float:right">
                        <span>
                            <button class="btn btn-primary btn-sm btn-custom"
                                    type="submit">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-light btn-sm btn-custom"
                                    type="button"
                                    (click)="onCancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>