<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" class="img-responsive" style="width:80px"></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"> <p class="navbar-text navbar-text-Header" style="font-size: 20px; font-weight: 600; font-stretch: extra-expanded; color: black">{{moduleTitle}}</p></li>
              
              <li>
                    <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/']">Dashboard</a>
                            </li>
                            <li *ngFor="let breadcrumb of breadcrumbs$ | async"
                                class="breadcrumb-item">
                                <a [routerLink]="[breadcrumb.url]">
                                {{ breadcrumb.label }}
                                </a>
                            </li>
                          </ol>
              </li>
            
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                <li> <p class="navbar-text"><strong>Cos BCS V.1.8.5</strong></p></li>
                    <li class="dropdown" dropdown>
                            <a href (click)="false" dropdownToggle  class="dropdown-toggle" role="button">{{loggedUserName}} <span class="caret"></span></a>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a href (click)="logout(); false;" >logout</a></li>
                            </ul>
                        </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
